<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
        <script type="text/javascript" charset="utf8" src="/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready( function () {
                $('#tableStudent').DataTable();
            } );
        </script>
    </head>
    <body>
        <div th:replace="fragments/fragment :: header"></div>
        <h4>All Students</h4>
        <table id="tableStudent" class="row-border hover stripe">
            <thead>
                <tr>
                    <th>No</th>
                    <th>NPM</th>
                    <th>Name</th>
                    <th>GPA</th>
                    <th>Cum laude</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <div th:each="student,iterationStatus: ${students}" th:class="${iterationStatus.odd} ? 'odd'">
                <tr>
                    <td th:text="${iterationStatus.count}">No</td>
                    <td th:text="${student.npm}">NPM</td>
                    <td th:text="${student.name}">Name</td>
                    <td th:text="${student.gpa}">GPA</td>
                    <td th:text="${student.gpa>=3.49} ? 'Cum Laude !' : 'Sangat Memuaskan !'">Cum laude</td>
                    <td>
                        <a th:href="'/student/delete/'+${student.npm}"><button class="btn btn-danger btn-xs">Delete</button></a>
                        <a th:href="'/student/update/'+${student.npm}"><button class="btn btn-info btn-xs">Update</button></a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
        <div th:replace="fragments/fragment :: footer"></div>
    </body>
</html>
